# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
venv/
.venv/

# Model files (DON'T COMMIT)
model/
*.keras
*.h5
*.onnx

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/